.*.swp
.settings
.project
.buildpath
/config
.reviewboardrc
nohup.out
.svn
.metadata
/app-image
tags
.idea
*.komodoproject
.DS_Store
._.DS_Store
cscope.*
lookupfiletags
/app-3rd
/system
.DS_Store
._.DS_Store
.tags
/*.iml
*.sublime-project
*.sublime-workspace
/tmp/tmp
